<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body style="text-align: center; font-family: sans-serif; background-color: black; color: white;">

    <h1>About</h1>
    <img src="{{ url_for('static', filename='me.jpg') }}" alt="Me" width="300"><br><br>

    <p>ชื่อ-นามสกุล : นาย อรรคพล พลอยพันแสง</p>
    <p>Name-Surname : Mr. AKRAPON PLOYPUNSANG</p>
    <p>รหัสนักศึกษา : 67130142</p>
    <p>E-Mail : 67130142@dpu.ac.th</p>

    <a href="/" style="color: cyan;">← กลับหน้าหลัก</a>

</body>
</html>
